<div class='signinPage'>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <div class="text">
          <h1>artgramとは</h1></br>
          <p>誰でもアートを楽しめるサイトです。<br><br>
            自分が作った様々なアート(絵や彫刻等)の画像を<br><br>
            投稿して頂き、みんなでアートを楽しもうというサイトです。<br><br>
            皆さん気軽に投稿して頂きアートを楽しみましょう。<br><br>
            ぜひご投稿よろしくお願いします。</p>
        </div>
      </div>
    </div>
  </div>
</div>